.campaign-selector-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .campaign-type{
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 600px;
      border-radius: 20px;
      border: 1px solid $palette-neutral-200;
      box-sizing: border-box;
      margin-left: 20px;
      margin-right:20px;
      padding: 30px;
      
      &:first-child{
         margin-left: 0px;
      }
       &:last-child{
         margin-right: 0px;
      }
      
      &:hover{
        border: 1px solid $primary-color;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      }
      
      h3{
        font-size: 2em;
        font-weight: 600px;
      }
      .campaign-type-feature{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $palette-neutral-900;
        margin-bottom: 5px;
        i{
          color: $primary-color;
          margin-right: 5px;
          font-size: 1.2em;
        }
      }
      
       hr{
         margin-top: 30px;
         border:solid 1px $palette-neutral-200;
         width: 96%;
         height: 0px;
       }
      
      .campaign-example{
        color: $palette-neutral-900;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        i{
          color: $palette-neutral-200;
          margin-right: 5px;
          font-size: 1.2em;
        }
      }
    
    }
  }
