@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 1.25em;
  background: #f2f5f7;
  color: #2d3138;
}

p, button, input {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
