body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.33em;
    background: $neutral-100;
    color: $neutral-900;
    display: grid;
}

div, p, input, button, ul, ol, span, a, select, textarea{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
p, button, input{
    border: none;
    margin: 0;
    padding: 0;
}


a{
    cursor: pointer;
}