
*,
*::before,
*::after {
  box-sizing: border-box; // 1
}


*{
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif; // 2
    line-height: 1.3; // 3
    -webkit-text-size-adjust: 100%; // 4
    -webkit-tap-highlight-color: rgba(black, 0); // 5
  }

body{
    // width: 100vw;
    // height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.33em;
    background: $palette-neutral-100;
    color: $palette-neutral-800;
    // display: grid;
    text-align: left;

}

div, p, input, button, ul, ol, span, a, select, textarea{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
    color: $palette-neutral-800;
    text-align: left;
}
p, button, input{
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
}


a{
    cursor: pointer;
    text-align: left;
}