body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.25em;
    background: $neutral-100;
    color: $neutral-900;
}

p, button, input{
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}


