@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
//admin font size should be around 14. just nice

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-align: left;
}

h1{
    font-size: 2.8rem;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

h2{
    font-size: 2.2rem;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

h3{
    font-size: 1.8rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
}

h4{
    font-size: 1.5rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
}

h5{
    font-size: 1.2rem;
    line-height: 1.38em;
    margin-bottom: 1rem;
}


h6{
    font-size: 1rem;
    line-height: 1.33em;
    margin-bottom: 1rem;
}