$base-border-radius: 8px;
$topbar-height: 70px;
$footer-height: 200px;
$sidebar-width: 240px;

// //spacing
// $spacing-xxs: 8px;
// $spacing-xs: 8px;
// $spacing-s: 16px;
// $spacing-m: 24px;
// $spacing-l: 48px;
// $spacing-xl: 48px;