$base-border-radius: 8px;
$topbar-height: 70px;
$footer-height: 200px;
$sidebar-width: 240px;

// //spacing
// $spacing-xxs: 8px;
// $spacing-xs: 8px;
// $spacing-s: 16px;
// $spacing-m: 24px;
// $spacing-l: 48px;
// $spacing-xl: 48px;

//shadows
$box-shadow-sm:               0 .125rem .25rem rgba($palette-default-black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($palette-default-black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($palette-default-black, .175) !default;