.step{
    margin-top: 20px;
    margin-bottom: 120px;

    .step-header-instruction{
        margin-bottom: 50px;

        h2{
            margin-bottom: 1rem;
            line-height: 2.8rem;
        }

        p{
            max-width: 60ch;
        }
    }


    .configure-preview{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

         img{
             max-width: 400px;
             margin: 0 auto;
         }
       
    }

           
}