.full-page-top-bar{
    height: $topbar-height;
    background: white;
    margin-bottom: 40px;
    box-shadow: $box-shadow-sm;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button{
        display: inline-block;
    }
}