.btn-primary{
    background-color: $primary-color;
    border: none;
    color: white;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    border-radius: $base-border-radius;
    
    cursor: pointer;

    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 

    i{
        margin-right: 2px;
        margin-left: -10px;
    }

    &:hover{
        background-color: $primary-color-hover;
    }

    &.outline{
        background-color: transparent;
        color: $primary-color;
        padding-left: 2em;
        padding-right: 2em;
        border: 1px solid $primary-color;

        &:hover{
            border: 1px solid $primary-color-hover;
            color: $primary-color-hover;
        }
    }

    &.link-only{
        background-color: transparent;
        border: none;
        padding-left: 2em;
        padding-right: 2em;
        color: $primary-color;

        &:hover{
            color: $primary-color-hover;

            i{
                text-decoration: none !important;
            }
        }
    }
}


.btn-group{
    display: flex;
    flex-direction: row;
    button{
        margin-right: 1em;

        &:last-child{
            margin-right: 0;
        }

    }
}