.input-group{
    margin-bottom: 2rem;

    label{

    }

    .caption{

    }

    .validation{

    }

    input{
      
    }
}

.input-group-inline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    input[type=password], input[type=text], input[number], select{
        margin-right: .2em;
    }
}

input[type=password], input[type=text], input[number], select{
    width: 100%;
    // border: 1px solid $palette-neutral-200;
    border: 1px solid transparent;
    background: $palette-neutral-100;
    color: $palette-neutral-900;
    margin: 0;
    // padding: .5em .5em;
    text-decoration: none;
    border-radius: $base-border-radius;
    cursor: pointer;
    height: 40px;
    display: flex;
    padding-left: .5em;
    padding-right: .5em;

    &:focus{
        outline: none;
        border: 1px solid $brand-primary-200;
        border-radius: $base-border-radius;
    }

    &::-webkit-input-placeholder { /* Edge */
        color: $palette-neutral-500;
      }
      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $palette-neutral-500;
      }
      
    &::placeholder {
        color: $palette-neutral-500;
      }
}

textarea{
    border: 1px solid $palette-neutral-200;
    color: $palette-neutral-900;
    margin: 0;
    text-decoration: none;
    border-radius: $base-border-radius;
    cursor: pointer;
    display: flex;
    padding: .5em;

    &:focus{
        outline: none;
        border: 1px solid $brand-primary-200;
        border-radius: $base-border-radius;
    }

    &::-webkit-input-placeholder { /* Edge */
        color: $palette-neutral-500;
      }
      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $palette-neutral-500;
      }
      
    &::placeholder {
        color: $palette-neutral-500;
      }
}

label{
    display: block;
    color: $palette-neutral-700;
    margin-bottom: .5em;
}

